*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

/* Sidebar */
.main-sidebar {
    background-color: #1E56A0;
    width: 250px;
    padding: 16px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.wrapper{
    background-color: #1E56A0;
}
.content-wrapper{
    background-color: #EEEEEE;
    flex-grow: 1;
    border-radius: 25px 0px 0px 0px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.sidebar .nav-item .nav-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px;
    border-radius: 8px;
    width: 200px;
    box-sizing: border-box;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.sidebar .nav-item .nav-link:hover{
    background: #D6E4F0;
    transition: all ease-in .2s;
    color: #5A5A5A;
}

.active-link{
    background-color: #EEEEEE !important;
    color: #5A5A5A !important;
}

.nonactive-link{
    color: #FFFFFF !important;
}

.nonactive-link:hover{
    color: #5A5A5A !important;
}

/* Header */
.main-header{
    background-color: #1E56A0;
    color: #FFFFFF;
}

